In [22]:
import pandas as pd
general={
    'name':['abc','def','ghi','xyz'],
    'surname' : ['123','345','567','789'],
    'age': [1,2,3,400]
}

In [23]:
df=pd.DataFrame(general)
df

  name surname  age
0  abc     123    1
1  def     345    2
2  ghi     567    3
3  xyz     789  400

In [24]:
rows,columns=df.shape

In [25]:
df.head(2)

  name surname  age
0  abc     123    1
1  def     345    2

In [26]:
df.tail(1)

  name surname  age
3  xyz     789  400

In [27]:
df[1:4]

  name surname  age
1  def     345    2
2  ghi     567    3
3  xyz     789  400

In [28]:
df.columns

Index(['name', 'surname', 'age'], dtype='object')

In [29]:
df['name']

0    abc
1    def
2    ghi
3    xyz
Name: name, dtype: object

In [30]:
df['age'].max()

np.int64(400)

In [31]:
df.describe()

              age
count    4.000000
mean   101.500000
std    199.001675
min      1.000000
25%      1.750000
50%      2.500000
75%    102.250000
max    400.000000

In [32]:
df[df.age > 2]

  name surname  age
2  ghi     567    3
3  xyz     789  400

In [33]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
df=df.set_index('age') # return a new data frame as return type or use inplace=True inside set_index

In [42]:
help(df.loc())

Help on _LocIndexer in module pandas.core.indexing object:

class _LocIndexer(_LocationIndexer)
 |  Access a group of rows and columns by label(s) or a boolean array.
 |
 |  ``.loc[]`` is primarily label based, but may also be used with a
 |  boolean array.
 |
 |  Allowed inputs are:
 |
 |  - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
 |    interpreted as a *label* of the index, and **never** as an
 |    integer position along the index).
 |  - A list or array of labels, e.g. ``['a', 'b', 'c']``.
 |  - A slice object with labels, e.g. ``'a':'f'``.
 |
 |    .. warning:: Note that contrary to usual python slices, **both** the
 |        start and the stop are included
 |
 |  - A boolean array of the same length as the axis being sliced,
 |    e.g. ``[True, False, True]``.
 |  - An alignable boolean Series. The index of the key will be aligned before
 |    masking.
 |  - An alignable Index. The Index of the returned selection will be the input.
 |  - A ``callable`` function with one argument (the calling Series or
 |    DataFrame) and that returns valid output for indexing (one of the above)
 |
 |  See more at :ref:`Selection by Label <indexing.label>`.
 |
 |  Raises
 |  ------
 |  KeyError
 |      If any items are not found.
 |  IndexingError
 |      If an indexed key is passed and its index is unalignable to the frame index.
 |
 |  See Also
 |  --------
 |  DataFrame.at : Access a single value for a row/column label pair.
 |  DataFrame.iloc : Access group of rows and columns by integer position(s).
 |  DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
 |                 Series/DataFrame.
 |  Series.loc : Access group of values using labels.
 |
 |  Examples
 |  --------
 |  **Getting values**
 |
 |  >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 |  ...                   index=['cobra', 'viper', 'sidewinder'],
 |  ...                   columns=['max_speed', 'shield'])
 |  >>> df
 |              max_speed  shield
 |  cobra               1       2
 |  viper               4       5
 |  sidewinder          7       8
 |
 |  Single label. Note this returns the row as a Series.
 |
 |  >>> df.loc['viper']
 |  max_speed    4
 |  shield       5
 |  Name: viper, dtype: int64
 |
 |  List of labels. Note using ``[[]]`` returns a DataFrame.
 |
 |  >>> df.loc[['viper', 'sidewinder']]
 |              max_speed  shield
 |  viper               4       5
 |  sidewinder          7       8
 |
 |  Single label for row and column
 |
 |  >>> df.loc['cobra', 'shield']
 |  2
 |
 |  Slice with labels for row and single label for column. As mentioned
 |  above, note that both the start and stop of the slice are included.
 |
 |  >>> df.loc['cobra':'viper', 'max_speed']
 |  cobra    1
 |  viper    4
 |  Name: max_speed, dtype: int64
 |
 |  Boolean list with the same length as the row axis
 |
 |  >>> df.loc[[False, False, True]]
 |              max_speed  shield
 |  sidewinder          7       8
 |
 |  Alignable boolean Series:
 |
 |  >>> df.loc[pd.Series([False, True, False],
 |  ...                  index=['viper', 'sidewinder', 'cobra'])]
 |                       max_speed  shield
 |  sidewinder          7       8
 |
 |  Index (same behavior as ``df.reindex``)
 |
 |  >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
 |         max_speed  shield
 |  foo
 |  cobra          1       2
 |  viper          4       5
 |
 |  Conditional that returns a boolean Series
 |
 |  >>> df.loc[df['shield'] > 6]
 |              max_speed  shield
 |  sidewinder          7       8
 |
 |  Conditional that returns a boolean Series with column labels specified
 |
 |  >>> df.loc[df['shield'] > 6, ['max_speed']]
 |              max_speed
 |  sidewinder          7
 |
 |  Multiple conditional using ``&`` that returns a boolean Series
 |
 |  >>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
 |              max_speed  shield
 |  viper          4       5
 |
 |  Multiple conditional using ``|`` that returns a boolean Series
 |
 |  >>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
 |              max_speed  shield
 |  cobra               1       2
 |  sidewinder          7       8
 |
 |  Please ensure that each condition is wrapped in parentheses ``()``.
 |  See the :ref:`user guide<indexing.boolean>`
 |  for more details and explanations of Boolean indexing.
 |
 |  .. note::
 |      If you find yourself using 3 or more conditionals in ``.loc[]``,
 |      consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.
 |
 |      See below for using ``.loc[]`` on MultiIndex DataFrames.
 |
 |  Callable that returns a boolean Series
 |
 |  >>> df.loc[lambda df: df['shield'] == 8]
 |              max_speed  shield
 |  sidewinder          7       8
 |
 |  **Setting values**
 |
 |  Set value for all items matching the list of labels
 |
 |  >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
 |  >>> df
 |              max_speed  shield
 |  cobra               1       2
 |  viper               4      50
 |  sidewinder          7      50
 |
 |  Set value for an entire row
 |
 |  >>> df.loc['cobra'] = 10
 |  >>> df
 |              max_speed  shield
 |  cobra              10      10
 |  viper               4      50
 |  sidewinder          7      50
 |
 |  Set value for an entire column
 |
 |  >>> df.loc[:, 'max_speed'] = 30
 |  >>> df
 |              max_speed  shield
 |  cobra              30      10
 |  viper              30      50
 |  sidewinder         30      50
 |
 |  Set value for rows matching callable condition
 |
 |  >>> df.loc[df['shield'] > 35] = 0
 |  >>> df
 |              max_speed  shield
 |  cobra              30      10
 |  viper               0       0
 |  sidewinder          0       0
 |
 |  Add value matching location
 |
 |  >>> df.loc["viper", "shield"] += 5
 |  >>> df
 |              max_speed  shield
 |  cobra              30      10
 |  viper               0       5
 |  sidewinder          0       0
 |
 |  Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
 |  index labels, not the index positions.
 |
 |  >>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
 |  >>> df.loc[:] += shuffled_df
 |  >>> df
 |              max_speed  shield
 |  cobra              60      20
 |  viper               0      10
 |  sidewinder          0       0
 |
 |  **Getting values on a DataFrame with an index that has integer labels**
 |
 |  Another example using integers for the index
 |
 |  >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 |  ...                   index=[7, 8, 9], columns=['max_speed', 'shield'])
 |  >>> df
 |     max_speed  shield
 |  7          1       2
 |  8          4       5
 |  9          7       8
 |
 |  Slice with integer labels for rows. As mentioned above, note that both
 |  the start and stop of the slice are included.
 |
 |  >>> df.loc[7:9]
 |     max_speed  shield
 |  7          1       2
 |  8          4       5
 |  9          7       8
 |
 |  **Getting values with a MultiIndex**
 |
 |  A number of examples using a DataFrame with a MultiIndex
 |
 |  >>> tuples = [
 |  ...     ('cobra', 'mark i'), ('cobra', 'mark ii'),
 |  ...     ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
 |  ...     ('viper', 'mark ii'), ('viper', 'mark iii')
 |  ... ]
 |  >>> index = pd.MultiIndex.from_tuples(tuples)
 |  >>> values = [[12, 2], [0, 4], [10, 20],
 |  ...           [1, 4], [7, 1], [16, 36]]
 |  >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
 |  >>> df
 |                       max_speed  shield
 |  cobra      mark i           12       2
 |             mark ii           0       4
 |  sidewinder mark i           10      20
 |             mark ii           1       4
 |  viper      mark ii           7       1
 |             mark iii         16      36
 |
 |  Single label. Note this returns a DataFrame with a single index.
 |
 |  >>> df.loc['cobra']
 |           max_speed  shield
 |  mark i          12       2
 |  mark ii          0       4
 |
 |  Single index tuple. Note this returns a Series.
 |
 |  >>> df.loc[('cobra', 'mark ii')]
 |  max_speed    0
 |  shield       4
 |  Name: (cobra, mark ii), dtype: int64
 |
 |  Single label for row and column. Similar to passing in a tuple, this
 |  returns a Series.
 |
 |  >>> df.loc['cobra', 'mark i']
 |  max_speed    12
 |  shield        2
 |  Name: (cobra, mark i), dtype: int64
 |
 |  Single tuple. Note using ``[[]]`` returns a DataFrame.
 |
 |  >>> df.loc[[('cobra', 'mark ii')]]
 |                 max_speed  shield
 |  cobra mark ii          0       4
 |
 |  Single tuple for the index with a single label for the column
 |
 |  >>> df.loc[('cobra', 'mark i'), 'shield']
 |  2
 |
 |  Slice from index tuple to single label
 |
 |  >>> df.loc[('cobra', 'mark i'):'viper']
 |                       max_speed  shield
 |  cobra      mark i           12       2
 |             mark ii           0       4
 |  sidewinder mark i           10      20
 |             mark ii           1       4
 |  viper      mark ii           7       1
 |             mark iii         16      36
 |
 |  Slice from index tuple to index tuple
 |
 |  >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
 |                      max_speed  shield
 |  cobra      mark i          12       2
 |             mark ii          0       4
 |  sidewinder mark i          10      20
 |             mark ii          1       4
 |  viper      mark ii          7       1
 |
 |  Please see the :ref:`user guide<advanced.advanced_hierarchical>`
 |  for more details and explanations of advanced indexing.
 |
 |  Method resolution order:
 |      _LocIndexer
 |      _LocationIndexer
 |      pandas._libs.indexing.NDFrameIndexerBase
 |      builtins.object
 |
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_takeable': 'bool'}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _LocationIndexer:
 |
 |  __call__(self, axis: 'Axis | None' = None) -> 'Self'
 |      Call self as a function.
 |
 |  __getitem__(self, key)
 |
 |  __setitem__(self, key, value) -> 'None'
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _LocationIndexer:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _LocationIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing.NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __reduce_cython__(self)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  __setstate_cython__(self, __pyx_state)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing.NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) class method of pandas._libs.indexing.NDFrameIndexerBase
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing.NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

We Can create dataframes using following ways-
1- From csv using->
df=pd.read_csv('path')

2- From xlsx files using->
df=pd.read_excel('path','sheet_name')

3- From dictionary using->
df=pd.DataFrame(dic)

4- From tuple using->
df=pd.DataFrame(tuple,columns=['name1','name2'])